<%#
  #
  # Web Atelier 2020  Exercise 7 - Single-Page Web Applications with Fetch and Client-side Views
  #
  # Student: Carlo Bettelini
  #
  # editor.ejs view
  #
  #%>

<% let path = "http://localhost:4000/"; %>
<div class="edit-area">
  <div id="edit_form">
    <form class="edit" method="POST" action="/pictures/<%= current_image._id %>?_method=PUT">
      <div class="input-field">
        <label for="title">Title:</label>
        <input type="text" name="title" placeholder="Write a title here..." value="<%= current_image.title || '' %>" />
      </div>
      <div class="input-field">
        <label for="description">Description:</label>
        <textarea type="text" name="description" placeholder="Write a description here..."><%= current_image.description || '' %></textarea>
      </div>
      <div class="input-field">
        <label for="favourite">Favorite:</label>
        <input type="checkbox" name="favourite" <% if (current_image.favourite) { %>checked <% } %>/>
      </div>
      <input type="hidden" name="filter" value="<%= current_image.filter %>">
      <input class="image_edit_button" type="submit" value="Submit changements" /> 
    </form>
    <br>
    <div id="editor_other_choices">
      <form class="back" method="GET" action="/pictures">
        <input class="image_edit_button" type="submit" value="Back" /> 
      </form>
    </div>
  </div>
</div>
  