<h2>Search image</h2>

<div id="search-bar">
    <form class="search" action="/users" method="GET">
        <input type="text" name="search" placeholder="Search for image">
        <input class="image_gallery_button" type="submit" value="Search">
    </form>
</div>