/**
 * Web Atelier 2020  Exercise 5 - Web APIs with Express
 *
 * Student: Carlo Bettelini
 *
 * Stylesheet
 *
 */


/* TEXT FONT */
@font-face {
    font-family: 'Moon Flower';
    src: url('../fonts/moon-flower.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* ELEMENTS */
* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Arial';
    height: 100%;
}

h1, h2, h3, h4, iframe, audio, #media-container, .info, nav, input, sup {
    padding: 0 10px;
}

p {
    line-height: 180%;
    letter-spacing: 1.4px;
    margin: 0;
}

h1 {
    font-family: 'Moon Flower';
    color: navy;
    font-weight: bold;
    font-size: 5rem;
    font-style: normal;
    text-align: center;
    margin: 20px;
    border: 5px dashed blue;
}

h2 {
    font-family: 'Moon Flower';
    font-size: 2.5rem;
    margin-bottom: 30px;
    background-color: aquamarine;
}

h3 {
    background-color: rgb(1, 216, 216);
    font-family: 'Moon Flower';
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    padding: 10px 10px 0;
}

h4 {
    font-size: 2.5em;
    font-family: 'Moon Flower';
    margin: 0;
}

h5 {
    font-size: 1.6em;
    font-family: 'Moon Flower';
    margin: 10px 0 0 0;
}

sup {
    vertical-align: text-bottom;
}

ul {
    padding-top: 20px;
}

li {
    padding: 0 10px 10px;
    font-family: 'Arial';
    margin: 10px;
}

li p{
    margin-left: 0;
}

body {
    display: flex;
    flex-direction: column;
}

figcaption {
    background: #a4ffb8;
    font-family: 'Arial';
    font-size: 1em;
    text-align: center;
}

form {
    margin: 0;
}

.selected {
    border: 3px solid black;
}

/* section {
    padding-bottom: 10px;
    margin-bottom: 80px;
} */

a {
    text-decoration: none;
}

.input-field p, textarea {
    font-family: 'Arial';
}



/* SECTIONS */
#central {   
    margin-top: auto;  
    flex: 3 0 auto;                     
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}


/* HEADER */
header {
    display: flex;
    justify-content: center;
    flex: 1;
}

#socket {
    padding: 10px 20px;
}


/* NAVIGATION------------------------------------------*/
#navigation {                                       /*|*/
    background: #C8E9A0;                          /*|*/
    border: 2px solid black;                      /*|*/
    flex: 1;                                        /*|*/
    margin-bottom: 10px;                            /*|*/
}                                                   /*|*/
                                                    /*|*/
                                                    /*|*/
nav {                                               /*|*/
    display: flex;                                  /*|*/
    flex-direction: column;                         /*|*/
}                                                   /*|*/
                                                    /*|*/
.current-page{                                      /*|*/
    font-size: 2em;                                 /*|*/
    font-family: 'Moon Flower';                     /*|*/
    border-top: 3px solid rgb(95, 95, 95);        /*|*/
    border-right: 3px solid rgb(95, 95, 95);      /*|*/
    border-bottom: 1px solid rgb(95, 95, 95);     /*|*/
    border-left: 1px solid rgb(95, 95, 95);       /*|*/
    background-color: yellowgreen;;               /*|*/
    padding: 10px;                                  /*|*/
}                                                   /*|*/
                                                    /*|*/
.page-link {                                        /*|*/
    font-size: 2em;                                 /*|*/
    font-family: 'Moon Flower';                     /*|*/
    transition: background 250ms;                   /*|*/
    padding: 10px;                                  /*|*/
}                                                   /*|*/
                                                    /*|*/
.page-link:hover {                                  /*|*/
    background-color: yellowgreen;                /*|*/
    border-left: 3px solid rgb(76, 114, 1);       /*|*/
    border-bottom: 3px solid rgb(76, 114, 1);     /*|*/
    border-right: 1px solid rgb(76, 114, 1);      /*|*/
    border-top: 1px solid rgb(76, 114, 1);        /*|*/
}                                                   /*|*/
/*-----------------------------------------------------*/



/* MAIN CONTENT-----------------------------------------*/
#main-content {                                      /*|*/                     /*|*/
    background: #74c1c4;    
    border: 2px solid black;                       /*|*/
    flex: 8;                                         /*|*/
    margin-bottom: 10px;                             /*|*/
}                                                    /*|*/
/*------------------------------------------------------*/


/* SIDEBAR */
#sidebar {
    border: 2px solid black;
    background: #b57fb2;
    flex: 2.7;
    margin-bottom: 10px;
}

#sidebar_content {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#infos {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 5px;
    transition: background 250ms;
}

.images-info {
    margin-right: 10px;
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    max-width: 25px;
}

#media-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 10px;
    transition: background 250ms;
    justify-content: space-evenly;
    align-items: center;
}

#media-container:hover, .info:hover {
    background: #f7aff0;
}

.media-link {
    visibility: visible;
}



/* FOOTER */
footer {
    flex-shrink: 0;
}

footer p {
    background-color: #e9dea0;
    font-family: 'Arial';
    padding-left: 10px;
}



/* UPLOAD */
.input-field {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-field label {
    font-family: 'Arial';
}

#upload {
    padding-bottom: 30px;
}

.buttons-upload {
    margin-left: 20px;
}

#upload-form {
    padding: 0 100px;
}


/* SEARCH */
#search-bar {
    margin: 30px;
}  


/* GALLERY */
#thumbnail-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid black;  
    margin: 30px;   
}

/* .gallery_image {
    padding-left: 30px;
} */

.thumbnails_gallery {
    border: 2px solid black;
    display: inline-block; 
    box-sizing: border-box;
}

.thumbnails_gallery img {
    display: block;
}

#image_gallery_buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 30px;
}

.image_gallery_button {
    display: inline-block;
    background-color: rgb(113, 250, 239);
    border: none;
    color: black;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: auto;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px 5px 0 0;
}

.image_gallery_button-slideshow {
    display: inline-block;
    background-color: rgb(113, 195, 250);
    border: none;
    color: black;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: auto;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px 5px 0 0;
}

.gallery_image {
    display: inline-block;
}



/* BLOG */
.blog_image {
    float: left;
    margin: 0 30px 20px 0px;
}

.blog-image {
    width: 90%;
    padding: 30px;
}

#blog_image_infos {
    padding: 20px;
}




/* SLIDESHOW */
#main-image-container-slideshow {
    border: 5px solid black;
    box-sizing: border-box;
    width: 90vw;

    /* If you want the container to be centered, 
    add this, otherwise skip */
    margin: 0 auto;
}

#main-image-slideshow {
    width: 100%;
    display: block;
}

#slideshow-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;

}

.slideshow-button {
    size: 50px;
    display: inline-block;
    background-color: rgb(113, 250, 239);
    border: none;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}



/* EDIT */
/* .edit-area {
    border: 3px dashed black;
    padding: 10px;
} */

.edit-area > div > div > div> img {
    width: 50px;
}

.edit-area > img {
    width: 50px;
}

#main-image-edit {
    border: 3px solid black;
    box-sizing: border-box;
    width: 90vw;

    /* If you want the container to be centered, add this, otherwise skip */
    margin: 0 auto;
}

#main-image-edit img {
    width: 100%;
    display: block;
}

.image_edit_button {
    display: inline-block;
    background-color: rgb(113, 250, 239);
    border: none;
    color: black;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: auto;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px 5px 0 0;
}

#editor_other_choices {
    /* padding: 0 10px; */
    display: flex;
    flex-direction: row;
}

#original_img_edit {
    width: 150px;
}

button img {
    width: 100px;
}

.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter {
    transition: opacity 250ms;
}

.filter:hover {
    opacity: 0.5;
}

figure > section > form {
    margin-top: 10px;
}




/* MEDIA */

/* Full-screen view */
@media all and (min-width: 1055px) {
    #sidebar {
        flex: 2;
    }
}

/* Mobile-size viewports */
@media all and (max-width: 768px) {
    #central {
        flex-direction: column;
    }

    .column {
        flex: 50%;
        max-width: 50%;
    }

    .column img:hover {
        max-width: 70%;
    }

    /* Navigation */
    nav {
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 10px;
    }

    #infos {
        flex-direction: row;
        align-items: center;
    }

    .input-field {
        padding: 10px 20px;
        display: grid;
        flex-direction: unset;
        justify-content: space-between;
    }


    #media-container {
        flex-direction: row;
    }

    .media-link {
        visibility: hidden;
    }
}


